<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!--Four Square API Credentials-->
  <add key="CLIENT_ID" value="ILDUI355WKNBRMCM1W3E1FZV2KVMY3W2MS1GHMH0L1NK2WTZ" />
  <add key="CLIENT_SECRET" value="UJI0A0PXQPPNFNS1YWSWTHBRNNMONZSAUEDW5V2Z1WLB0EYH" />
    
  <!--Flickr Credential-->
  <add key="flickr_key" value="0764da11ecdf5e5c8919794f9e4b306e" />
  <add key="flickr_secret" value="0160a043fff07be3" />
</appSettings>