@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>Overall Developer Assessment - FourSquare/Flickr Implementation</p>
    <div style="font-size: 12px !important;">
        <p>
            <ul>
                <li>Using SharpSquare Library to call Foursquare API to retrieve geolocation</li>
                <li>Using FlickrNet Library to retrieve images from Flickr API based on geolocation</li>
                <li>Pagination capability</li>
                <li>Saving images and description into database</li>
                <li>Using Windsor Castle for DI</li>
                <li>Unit test implementation</li>
            </ul>
        </p>
    </div>
</div>
